div{
    width: 400px;
    height: 400px;
    background-color: aqua;
}
div:hover{
    background-color: yellowgreen;
}
div:hover{
    width: 200px;
    height: 200px;
}
.class:hover{
    background-color: teal;
}